$fonts: 'Lato', sans-serif;
$display-block: inline-block;
$cursor: pointer;
$body-bg-color: #505050;
$white-bg-color: #f1f1f1;
$main-bg-color: #ffffff;
$side-nav-hover: #333;
$menu-yellow-color: #f3d83f;
